
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    color:white;
    background-color: blueviolet;
    margin-left: 10%;
    margin-right: 10%;
    box-sizing: border-box;
}
h1{
    font-size: 5rem;
}
.box{
    display: inline-block;
    color: white;
}
ul{
    display: inline-block;
    color: white;
}
li{
    display: inline-block;
    color: white;
}
a{
    display: inline-block;
    color: white;
}
@media (max-width: 700px){
    .box{
        display: inline-block;
        flex-direction: column;
    }
}